html,
body,
#app {
  height: 100% !important;
}

.nada-main {
  height: 100% !important;
  overflow: hidden !important;
}

.nada-fullheight {
  height: 100% !important;
}

.nada-content {
  height: 100% !important;
  margin-top: 10px;
}

.nada-split {
  height: 100% !important;
}

.nada-pane {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.nada-header {
  background-color: #2080f0;
  color: #f3f2fb;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nada-header:after {
  position: absolute;
  opacity: 0;
  top: -100px;
  left: 80px;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
  content: '"La météo qu\'il vous faut"';
  transition: top 1.4s ease-in-out, opacity 0.6s ease-in-out;
}

.nada-header:hover {
  color: #c9c6e4;
}

.nada-header:hover::after {
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
  top: 15px;
}

.nada-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #2080f0;
  color: white;
  font-weight: bold;
  z-index: 100;
  text-align: center;
}

.align-right {
  position: absolute;
  right: 20px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(180, 180, 180, 0.7);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(230, 230, 230, 1);
}
